/// <mls fileReference="_102027_/l2/collabMonacoEditor.less" enhancement="enhancementStyle"/>

collab-monaco-editor-102027 {

    z-index: 3000;
    position: absolute;

    &:hover {
        z-index: 4000;
    }

}


